.chat-app {
    font-family: 'Muli', Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    position: relative;
    width: auto;
    margin: auto;
}
.chat-app h1 {
    font-family: 'Roboto', sans-serif;
    color: #000050;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.chat-app #comments-box {
    position: relative;
    margin: 5px;
    height: 700px;
    overflow: auto;

    background-color: #dfe3ea;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    line-height: 22px;
    color: #666;
}
.chat-app .comment {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    box-shadow: 2px 2px 2px #888;
    height: 80px;
}
.chat-app .name {
    background-color: #000;
    color: white;

    text-align: left;
    font-weight: bold;
}
.chat-app .date {
    background-color: #66FF00;
    border-radius: 3px;
    width: 130px;
    padding-right: 12px;
    float: right;

    text-align: right;
    font-weight: bold;
}
.chat-app .text {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: justify;
}
.chat-app #text-area {
    width: 97%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid #9090B0;
    border-radius: 3px;
    box-shadow: 2px 2px 3px gray;
    font-size: 16px;
}
.chat-app #post-area {
    display: inline-block;
    width: 100%;
}
.chat-app #post-comment {
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
}
.chat-app #status {
    display: inline-block;
    color: red;
    font-size: 13px;
    margin: 5px 0px 5px 12px;
    padding-bottom: 5px;
}

code {
    display: block;
    padding: 3px;
    padding-left: 5px;
    color: #BBBBBB;
    background-color: black;
    font-family: Lucida Console, courier;
    border: 1px solid #009900;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #889977;
}
.chat-app .my-name {
    font-weight: bold;
}
.chat-app #name-changer {
    text-align: right;
    float: right;
    margin-right: 5px;
}

.chat-app #namechange {
    float: right;
    position: absolute;
    clear: both;
}
#changename {
    height: 40px;
    border-radius: 5px;
}
