@-webkit-keyframes pulse { 
        0% {background-color: #45CEEF;} 
        25% {background-color: #FFF5A5;} 
        50% {background-color: #FFD4DA;} 
        75% {background-color: #99D2E4;} 
        100% {background-color: #D8CAB4;} 
}
@-moz-keyframes pulse { 
        0% {background-color: #45CEEF;} 
        25% {background-color: #FFF5A5;} 
        50% {background-color: #FFD4DA;} 
        75% {background-color: #99D2E4;} 
        100% {background-color: #D8CAB4;} 
}
body, html{
    font-family: 'Roboto', sans-serif;
    background-color: #45CEEF; 
    -webkit-animation: pulse 40s infinite alternate;
    -moz-animation: pulse 30s infinite alternate;
}
h1,
h2{
    font-weight: 100;
}
/* Containers */
#game-container {
	width: 300px;
	height: 300px;
	margin: auto;
	border: 1px solid black;
	overflow: hidden;
}

#timer-container {
	float: right;
}

/* Start */
#start-bttn {
    display: block;
    text-transform: uppercase;
	background-color: #dddda0;
	color: #5555ff;
	width: 50%;
	height: 40px;
    text-align: center;
    font-size: 25px;
    border: 3px solid #ddd000;
	border-radius: 25px;
    margin: 50px auto;
}
#start-bttn:hover {
    cursor: pointer;
    background-color: #ddd000;
}
#red {
	background-color: #ff0000;
}
#green {
	background-color: #008000;
}
#blue {
	background-color: #0000ff;
}
#yellow {
	background-color: #eeee00;
}
#black {
	background-color: #000000;
}
.guess {
	width: 50px;
	height: 50px;
	margin: 150px 3px 5px 3px;
	display: inline-block;
	border-radius: 5px;
}
.heading {
    text-align: center;
}

#word {
    text-align: center;
}
