body{
  text-align:center;
  background-color:rgb((57, 176, 184));
}
h1{
  text-align:center;
  font-family: 'SF Pixelate'; 
  font-weight: bold; 
  font-style: normal; 
}
p{
  font-family: 'SF Pixelate'; 
  font-style: normal; 
  text-align:center;
}
